---
layout: default
---

<section class="hero is-small">
  <div class="hero-body">
    <p class="title has-text-white"><%= data.title %></p>
    <p class="subtitle has-text-white"><%= data.subtitle %></p>
  </div>
</section>

<section class="section">
  <article class="box">
    <div class="content">
      <%= yield %>
    </div>
  </article>
</section>
