$orange: #ee9a00;

// Path to Bulma's sass folder
@use "~bulma/sass" with (
  $primary: $orange
);

body.postcard {
  background-image: url("/images/bay-bridge-from-bart-postcard.jpg");
  background-repeat: no-repeat;
  background-position: top -30px center; // show a bit more of the tops of the buildings
}

.ruby-red {
  background-color:#a91401;

  & p {
    @extend .has-text-white
  }
}

// pretty specific to override bulma specifity of (0, 1, 4)
article.message a:not(.button):not(.tag):not(.dropdown-item) {
  text-decoration: none;
}

.highlight-logo {
	float: right;
	max-width: 25%;
}

.linked-in-logo {
  height: 1.5rem;
}

main .section {
  padding-bottom: 0;
}

.section + .section {
  padding-top: 0;
}