$orange: #ee9a00;

// Path to Bulma's sass folder
@use "~bulma/sass" with (
  $primary: $orange
);

body.postcard {
  background-image: url("/images/bay-bridge-from-bart-postcard.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
