<div class="content recommendation mb-0<%= ' active' if active %>">
  <blockquote class="py-0">
    <p class="is-italic">"<%= recommendation.text.strip %>"</p>
    <p><%= "#{recommendation.name}, #{recommendation.role}" %>
  </blockquote>
</div>
